.blue-link {
    color: #06c;
}

.blue-link:hover {
    text-decoration: underline;
}

* {
    font-family: SF Pro Text, Myriad Set Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.section-center {
    width: 980px;
    margin: 0 auto;
}